@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding: 60px;
    font-family: Open Sans, sans-serif;
}

h2 {
    font-family: Suravaram, serif;
}

label {
    font-size: 11px;
}

.form-control {
    font-size: 10px;
}

.section-title {
    color: #999 !important;
}

.edit-icon {
    display: none;
}

.list-group-item:hover {
    .edit-icon {
        display: block;
    }
}

.new-ad-icon {
    margin-top: 30px;
}

.message {
    color: $brand-danger;
}

#error_explanation {
  color: $state-danger-text;
  ul {
    color: $state-danger-text;
    margin: 0 0 30px 0;
  }
}